<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Set the Table names to count with comma separtion -->
    <add key="TableNames" value="Table1,Table2"/>
    <!--Set the Export file Location -->
    <add key="DestinationToExportExcel" value="H:\WorkSpace\Excel"/>
    <!--Set the time interval in milliseconds to export file -->
    <add key="TimeIntervalinNilliSeconds" value="60000"/>
    <!--Set the format whetheer csv/xls only-->
    <add key="ExportFileFormat" value="csv"/>
  </appSettings>
  <connectionStrings>
    <!--Set the Server one connection string-->
    <add name="Server1ConStr" connectionString="Data Source=UBSHARMA;Initial Catalog=TEST_DB; uid=sa; Password=SQL2017@@@; " providerName="System.Data.SqlClient" />
    <!--Set the Server two connection string-->
    <add name="Server2ConStr" connectionString="Data Source=UBSHARMA;Initial Catalog=TEST; uid=sa; Password=SQL2017@@@; " providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>